# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Ultralytics / YOLO outputs
runs/
*.pt
*.onnx
*.engine

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Data
fisheye8k/data/
fisheye8k/dataset/
fisheye8k/daytonight_dataset_mixture/
fisheye8k/dataset_camera3_4/
fisheye8k/daytonight_preview_dataset_mixture/
fisheye8k/dataset_img2img/
fisheye8k/dataset_self_training_07/
fisheye8k/pseudo_labels_07/
data.tar.zst

fisheye8k/run_all_daytonight.sh
run_train_test_all.sh

# Cache
.cache/

# Models
/runs/
*.pt
/ultralytics/